<ion-header [translucent]="false">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background-gradient"></div>

    <div *ngIf="pokemon" class="detail-container">
        <div class="artwork-container">
            <img [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="pokemon.name"
                class="main-artwork">
        </div>

        <ion-card class="info-card">
            <ion-card-header>
                <div class="type-badges">
                    <ion-badge *ngFor="let type of pokemon.types" [ngClass]="getTypeClass(type.type.name)"
                        class="type-badge">
                        {{ type.type.name | titlecase }}
                    </ion-badge>
                </div>
                <ion-card-title class="ion-text-center">#{{ pokemon.id | number:'3.0-0' }} {{ pokemon.name | titlecase
                    }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <div class="stat-info">
                                <strong>Altura</strong>
                                <span>{{ pokemon.height / 10 }}m</span>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="stat-info">
                                <strong>Peso</strong>
                                <span>{{ pokemon.weight / 10 }}kg</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <div class="stats-section">
                    <h3>Base Stats</h3>
                    <div *ngFor="let stat of pokemon.stats" class="stat-row">
                        <div class="stat-label">
                            <span>{{ stat.stat.name | titlecase }}</span>
                            <span class="stat-value">{{ stat.base_stat }} / 255</span>
                        </div>
                        <ion-progress-bar [value]="stat.base_stat / 255"
                            [color]="getStatColor(stat.stat.name)"></ion-progress-bar>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="!pokemon" class="loading-container">
        <ion-card>
            <ion-card-content>
                <ion-progress-bar type="indeterminate"></ion-progress-bar>
                <p class="ion-text-center">Cargando datos del Pokémon...</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>