/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00bcd4;
  --ion-color-primary-rgb: 0, 188, 212;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00a5bb;
  --ion-color-primary-tint: #1ad3e8;

  /** secondary **/
  --ion-color-secondary: #006064;
  --ion-color-secondary-rgb: 0, 96, 100;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #005458;
  --ion-color-secondary-tint: #1a7074;

  /** tertiary **/
  --ion-color-tertiary: #673ab7;
  --ion-color-tertiary-rgb: 103, 58, 183;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5b33a1;
  --ion-color-tertiary-tint: #764ebe;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** Professional Gradients **/
  --geo-gradient-main: linear-gradient(135deg, #006064 0%, #00bcd4 100%);
  --geo-gradient-dark: linear-gradient(135deg, #222428 0%, #006064 100%);
}

.ion-color-gradient {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
  background: var(--geo-gradient-main);
}
